
.services {
  padding: 2rem 6rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.services__header h5 {
  color: var(--color-light);
  text-align: center;
  margin-bottom: 0.25rem;
}

.services__header h2 {
   color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem;
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.service {
  background: var(--color-bg-variant);
  border-radius: 1.2rem;
  transition: var(--transition);
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.service:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  transform: translateY(-6px);
}

.service__head {
  background: var(--color-primary);
  padding: 1rem;
  border-radius: 1.2rem 1.2rem 0 0;
}

.service__head h3 {
  color: var(--color-white);
  font-size: 1.1rem;
  margin: 0;
}

.service__list {
  padding: 1.5rem;
  text-align: left;
}

.service__list li {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
  align-items: flex-start;
  transition: transform 0.3s ease;
}

.service__list li:hover {
  transform: translateX(5px);
}

.service__list-icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  flex-shrink: 0;
  margin-top: 2px;
}

.service__list p {
  font-size: 0.95rem;
  color: var(--color-light);
}

/* Responsive */
@media (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .services {
    padding: 2rem 1.5rem;
  }
  .services__container {
    grid-template-columns: 1fr;
  }
}
