.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: left;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}

/* Default text and icon color */
.contact__option-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.contact__option h4 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.contact__option h5 {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.9;
}

.contact__option-icon {
  font-size: 2.5rem;
  flex-shrink: 0;
  color: white; /* default color */
}

/* Background colors for each article */
.gmail {
  background: #DB4437;
}

.wa {
  background: #25D366;
}

.tele {
  background: #0088cc;
}

/* General hover effect for background */
.contact__option:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Hover text and icon color change based on the article */
.gmail:hover .contact__option-text,
.gmail:hover .contact__option-icon {
  color: #DB4437;
}

.wa:hover .contact__option-text,
.wa:hover .contact__option-icon {
  color: #25D366;
}

.tele:hover .contact__option-text,
.tele:hover .contact__option-icon {
  color: #0088cc;
}

/* Specific hover border color change for each article */
.gmail:hover {
  border-color: #DB4437;
}

.wa:hover {
  border-color: #25D366;
}

.tele:hover {
  border-color: #0088cc;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--white);
  border: 1px dotted white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/*=====================FORM============================*/
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
  transition: background-color 0.3s ease;
}

input:hover,
textarea:hover {
  background: var(--color-primary);
  opacity: 0.8;
  color: var(--color-bg);
}

/*==================== MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*==================== MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
